In [62]:
import pandas as pd
import random

In [63]:
df_flight=pd.read_csv('../../../muse/data/mas/flights_full.csv')

In [64]:
df_flight.head(10)

,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,CRS_ARR_TIME,ARR_TIME,ACTUAL_ELAPSED_TIME,DISTANCE
0,1,21/01/2019,9E,5245,13487,MSP,Minneapolis MN,MN,Minnesota,11193,CVG,Cincinnati OH,KY,Kentucky,1556,1547,1902,1845.0,118.0,596
1,1,28/01/2019,9E,5245,13487,MSP,Minneapolis MN,MN,Minnesota,11193,CVG,Cincinnati OH,KY,Kentucky,1556,1934,1902,2251.0,137.0,596
2,1,07/01/2019,9E,5246,13495,MSY,New Orleans LA,LA,Louisiana,12953,LGA,New York NY,NY,New York,601,554,1000,955.0,181.0,1183
3,1,14/01/2019,9E,5246,13495,MSY,New Orleans LA,LA,Louisiana,12953,LGA,New York NY,NY,New York,601,552,1000,945.0,173.0,1183
4,1,21/01/2019,9E,5246,13495,MSY,New Orleans LA,LA,Louisiana,12953,LGA,New York NY,NY,New York,601,554,1000,1019.0,205.0,1183
5,1,28/01/2019,9E,5246,13495,MSY,New Orleans LA,LA,Louisiana,12953,LGA,New York NY,NY,New York,601,605,1000,950.0,165.0,1183
6,1,07/01/2019,9E,5247,14100,PHL,Philadelphia PA,PA,Pennsylvania,14492,RDU,Raleigh/Durham NC,NC,North Carolina,832,827,1023,1017.0,110.0,337
7,1,14/01/2019,9E,5247,14100,PHL,Philadelphia PA,PA,Pennsylvania,14492,RDU,Raleigh/Durham NC,NC,North Carolina,832,824,1023,949.0,85.0,337
8,1,21/01/2019,9E,5247,14100,PHL,Philadelphia PA,PA,Pennsylvania,14492,RDU,Raleigh/Durham NC,NC,North Carolina,832,1031,1023,1153.0,82.0,337
9,1,28/01/2019,9E,5247,14100,PHL,Philadelphia PA,PA,Pennsylvania,14492,RDU,Raleigh/Durham NC,NC,North Carolina,832,832,1023,1013.0,101.0,337

In [65]:
list(df_flight)

['DAY_OF_WEEK',
 'FL_DATE',
 'OP_UNIQUE_CARRIER',
 'OP_CARRIER_FL_NUM',
 'ORIGIN_AIRPORT_ID',
 'ORIGIN',
 'ORIGIN_CITY_NAME',
 'ORIGIN_STATE_ABR',
 'ORIGIN_STATE_NM',
 'DEST_AIRPORT_ID',
 'DEST',
 'DEST_CITY_NAME',
 'DEST_STATE_ABR',
 'DEST_STATE_NM',
 'CRS_DEP_TIME',
 'DEP_TIME',
 'CRS_ARR_TIME',
 'ARR_TIME',
 'ACTUAL_ELAPSED_TIME',
 'DISTANCE']

In [66]:
# df_flight.head()

In [67]:
# df_flight.shape

In [68]:
# df_sample=df_flight.sample(1000)

In [69]:
# df_sample.shape

In [70]:
# df_sample.to_csv('../../../muse/data/mas/flights_1000.csv', index=False)

In [71]:
# considered_fixes: {('t1', 'origin_airport_id', 't2', 'origin_airport_id', '=='), ('t1', 'arr_time', 't2', 'arr_time', '=='), ('t1', 'day_of_week', '1', '!='), ('t2', 'day_of_week', '4', '!='), ('t1', 'origin_city_name', 't2', 'origin_city_name', '=='), ('t1', 'origin_state_abr', 't2', 'origin_state_abr', '=='), ('t1', 'day_of_week', 't2', 'day_of_week', '=='), ('t1', 'op_unique_carrier', 't2', 'op_unique_carrier', '=='), ('t2', 'day_of_week', '2', '!='), ('t2', 'day_of_week', '5', '!='), ('t2', 'day_of_week', '1', '!='), ('t1', 'day_of_week', '6', '=='), ('t1', 'day_of_week', '3', '!='), ('t1', 'crs_arr_time', 't2', 'crs_arr_time', '=='), ('t1', 'day_of_week', '4', '!='), ('t1', 'origin_state_nm', 't2', 'origin_state_nm', '=='), ('t2', 'day_of_week', '7', '!='), ('t1', 'op_carrier_fl_num', 't2', 'op_carrier_fl_num', '=='), ('t1', 'crs_dep_time', 't2', 'crs_dep_time', '=='), ('t2', 'day_of_week', '3', '!='), ('t1', 'dep_time', 't2', 'dep_time', '=='), ('t1', 'fl_date', 't2', 'fl_date', '=='), ('t1', 'actual_elapsed_time', 't2', 'actual_elapsed_time', '=='), ('t2', 'day_of_week', '6', '=='), ('t1', 'day_of_week', '5', '!=')}

In [72]:
df_1000=pd.read_csv('../../../muse/data/mas/flights_1000.csv')
df_1000['_tid_'] = range(len(df_1000))
df_1000['is_dirty'] = 'False'

In [73]:
unique_cities = list(df_1000['ORIGIN_CITY_NAME'].unique())

In [74]:
i=1
row_cnt=len(df_1000)

while(i<=20):
    row_number = random.randint(0, row_cnt-1)
    gt_city= df_1000.at[row_number, 'ORIGIN_CITY_NAME']
    error_city = unique_cities[random.randint(0,len(unique_cities))-1]
    print(f"gt_city: {gt_city}")
    print(f"error_city: {error_city}")
    while(gt_city==error_city):
        gt_city= df_1000.at[row_number, 'ORIGIN_CITY_NAME']
        error_city = unique_cities[random.randint(0,len(unique_cities))-1]
        
    df_1000.at[row_number, 'ORIGIN_CITY_NAME'] = error_city
    df_1000.at[row_number,'is_dirty']='True'
    print(df_1000.at[row_number,'_tid_'])
    print('\n')
    i+=1

gt_city: Cleveland OH
error_city: Nashville TN
766


gt_city: Dallas/Fort Worth TX
error_city: Providence RI
465


gt_city: Atlanta GA
error_city: Santa Ana CA
364


gt_city: San Francisco CA
error_city: Salt Lake City UT
983


gt_city: Knoxville TN
error_city: Cordova AK
721


gt_city: Madison WI
error_city: Lafayette LA
94


gt_city: Los Angeles CA
error_city: Melbourne FL
49


gt_city: San Jose CA
error_city: Evansville IN
991


gt_city: Denver CO
error_city: Milwaukee WI
205


gt_city: Rochester NY
error_city: Valparaiso FL
447


gt_city: Reno NV
error_city: Tampa FL
737


gt_city: Pittsburgh PA
error_city: Atlanta GA
391


gt_city: Las Vegas NV
error_city: Saginaw/Bay City/Midland MI
436


gt_city: Los Angeles CA
error_city: Islip NY
578


gt_city: Atlanta GA
error_city: White Plains NY
224


gt_city: Las Vegas NV
error_city: Barrow AK
660


gt_city: Santa Barbara CA
error_city: Madison WI
873


gt_city: Philadelphia PA
error_city: Atlantic City NJ
953


gt_city: Minneapolis MN
error_city: Charlotte NC
426


gt_city: Chicago IL
error_city: Tucson AZ
581

In [75]:
df_1000['is_dirty'].value_counts()

False    980
True      20
Name: is_dirty, dtype: int64

In [76]:
df_1000.head()

,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_ID,...,DEST_STATE_ABR,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,CRS_ARR_TIME,ARR_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,_tid_,is_dirty
0,2,01/01/2019,WN,2904,14831,SJC,San Jose CA,CA,California,14908,...,CA,California,1840,1836,1955,1943.0,67.0,342,0,False
1,3,09/01/2019,WN,1817,13796,OAK,Oakland CA,CA,California,10800,...,CA,California,1455,1448,1605,1557.0,69.0,325,1,False
2,3,16/01/2019,EV,4390,15412,TYS,Knoxville TN,TN,Tennessee,12266,...,TX,Texas,1835,1820,2014,1939.0,139.0,771,2,False
3,3,30/01/2019,OH,5495,10874,CAK,Akron OH,OH,Ohio,11057,...,NC,North Carolina,704,700,859,838.0,98.0,394,3,False
4,3,16/01/2019,DL,2691,11433,DTW,Detroit MI,MI,Michigan,11697,...,FL,Florida,1816,1810,2136,2110.0,180.0,1127,4,False

In [77]:
df_1000.to_csv('../../../muse/data/mas/flights_new.csv', index=False, header=False)

In [87]:
example_dict = {'t1&t2&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)&IQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&IQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)']}, 't1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&IQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 7, 'fixed_treerule_text': ['t1&t2&IQ(t1.origin_state_abr,t2.origin_state_abr)&IQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)']}, 't1&t2&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)']}, 't1&t2&IQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&IQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)']}, 't1&t2&IQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.ORIGIN,t2.ORIGIN)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&IQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)']}, 't1&t2&IQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 7, 'fixed_treerule_text': ['t1&t2&IQ(t1.origin_state_abr,t2.origin_state_abr)&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&IQ(t1.ORIGIN,t2.ORIGIN)']}, 't1&t2&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&IQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&IQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)']}, 't1&t2&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)&IQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&IQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)']}, 't1&t2&EQ(t1.DEST,t2.DEST)&IQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&IQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.DEST,t2.DEST)']}, 't1&t2&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)']}, 't1&t2&IQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&IQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)']}, 't1&t2&EQ(t1.FL_DATE,t2.FL_DATE)&IQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&IQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)&EQ(t1.FL_DATE,t2.FL_DATE)']}, 't1&t2&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)&IQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&IQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)']}, 't1&t2&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&IQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&IQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)']}, 't1&t2&IQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&IQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)']}, 't1&t2&IQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 7, 'fixed_treerule_text': ["t1&t2&EQ(t1.day_of_week,'5')&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&IQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)"]}, 't1&t2&IQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)&EQ(t1.DEST,t2.DEST)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&EQ(t1.DEST,t2.DEST)&IQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)']}, 't1&t2&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)']}, 't1&t2&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&IQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&IQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)']}, 't1&t2&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&IQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&IQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)']}, 't1&t2&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)&IQ(t1.ORIGIN,t2.ORIGIN)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&IQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)']}, 't1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&IQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&IQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)&EQ(t1.ORIGIN,t2.ORIGIN)']}, 't1&t2&IQ(t1.DEST,t2.DEST)&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&IQ(t1.DEST,t2.DEST)']}, 't1&t2&IQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&EQ(t1.DEST,t2.DEST)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&EQ(t1.DEST,t2.DEST)&IQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)']}, 't1&t2&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.ORIGIN,t2.ORIGIN)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)']}, 't1&t2&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&IQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&IQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)']}, 't1&t2&IQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.ORIGIN,t2.ORIGIN)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&IQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)']}, 't1&t2&IQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&EQ(t1.DEST,t2.DEST)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 5, 'fixed_treerule_text': ['t1&t2&EQ(t1.DEST,t2.DEST)&IQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)']}, 't1&t2&IQ(t1.DEST,t2.DEST)&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)': {'deleted': False, 'pre_fix_size': 5, 'after_fix_size': 7, 'fixed_treerule_text': ["t1&t2&EQ(t1.day_of_week,'5')&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&IQ(t1.DEST,t2.DEST)"]}}

In [79]:
# for k, v in example_dict.items():
#     if(example_dict[k]['pre_fix_size']==example_dict[k]['after_fix_size']):
#         print(k)
#         print(example_dict[k]['fixed_treerule_text'])
#         print('\n')

In [84]:
df_1000.groupby(['ORIGIN_CITY_NAME','ORIGIN_AIRPORT_ID']).size()

ORIGIN_CITY_NAME               ORIGIN_AIRPORT_ID
Abilene TX                     10136                2
Aguadilla PR                   10732                1
Akron OH                       10874                2
Albany NY                      10257                3
Albuquerque NM                 10140                4
                                                   ..
Washington DC                  12264                9
West Palm Beach/Palm Beach FL  14027                2
White Plains NY                10397                1
                               12197                2
Wichita KS                     12278                1
Length: 188, dtype: int64

In [85]:
df_1000.groupby(['ORIGIN_CITY_NAME']).size()

ORIGIN_CITY_NAME
Abilene TX                        2
Aguadilla PR                      1
Akron OH                          2
Albany NY                         3
Albuquerque NM                    4
                                 ..
Valparaiso FL                     2
Washington DC                    31
West Palm Beach/Palm Beach FL     2
White Plains NY                   3
Wichita KS                        1
Length: 164, dtype: int64

In [88]:
for k, v in example_dict.items():
    if(example_dict[k]['pre_fix_size']!=example_dict[k]['after_fix_size']):
        print(k)
        print(example_dict[k]['fixed_treerule_text'])
        print(example_dict[k]['deleted'])
        print('\n')
        
        
#        abr | origin | origin_city_name
#         IL      CHI      Chicago
#         IL      CHI      Chicago -> lOS ANGLEGES
#         CA      LA       lOS ANGLEGES

t1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&IQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)
['t1&t2&IQ(t1.origin_state_abr,t2.origin_state_abr)&IQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)']
False


t1&t2&IQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)
['t1&t2&IQ(t1.origin_state_abr,t2.origin_state_abr)&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&IQ(t1.ORIGIN,t2.ORIGIN)']
False


t1&t2&IQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)
["t1&t2&EQ(t1.day_of_week,'5')&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&IQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)"]
False


t1&t2&IQ(t1.DEST,t2.DEST)&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)
["t1&t2&EQ(t1.day_of_week,'5')&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&IQ(t1.DEST,t2.DEST)"]
False