In [30]:
import pandas as pd
import glob
# from lfs_tree import *
import logging
logger = logging.getLogger()
logger.setLevel(logging.CRITICAL)
import pydot
import networkx as nx
from string import Template
import pandas as pd
import glob
import pydot
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
import pickle
from IPython.display import Image, display

In [31]:
# def show_stats(directory):
#     f = glob.glob(f'{directory}*experiment_stats')[0]
#     print(f)
def view_pydot(pdot):
    plt = Image(pdot.create_png())
    display(plt)

def show_trees(directory):
    print(directory)
    treefiles = glob.glob(f'{directory}*tree_*')
    num_trees_per_strat = len(treefiles)/2
    for i in range(0, int(num_trees_per_strat)):
        for f in glob.glob(f'{directory}*tree_*_{i}*'):
            file = open(f)
            dot_string = file.read()
            print(f)
            graph = pydot.graph_from_dot_data(dot_string)[0]
            view_pydot(graph)
            print('\n')
def show_stats(directory):
    f = glob.glob(f'{directory}*experiment_stats')[0]
    print(f)
#                                 experiment_stats
#     file = open('../intro_example/experiment_stats')
    df = pd.read_csv(f)
    print(df)
    return df

def show_user_inputs(directory):
    f = glob.glob(f'{directory}sampled*')[0]
    df = pd.read_csv(f)
    print(list(df))
    return df[['text', 'expected_label', 'model_pred', 'id']].sort_values(by=['text'])

def view_repair_bookkeeping_results(directory):
    print(glob.glob(f'{directory}*book_keeping_dict*'))
    f = glob.glob(f'{directory}*book_keeping_dict*')[0]
#               20230921002723fix_book_keeping_dict.pkl
    with open(f, 'rb') as file:
        # Load the object from the file
        loaded_object = pickle.load(file)
#         print("Object loaded successfully:")
#         print(loaded_object)
    return loaded_object

In [32]:
# f = glob.glob('experiment_results_folders/experiment_lf_scalability1005/_20231005070004/20231005070004_experiment_stats')
f = glob.glob('experiment_results_folders/experiment_lf_scalability1005/*/*experiment_stats')

In [33]:
len(f)

52

In [34]:
df = pd.concat([pd.read_csv(x) for x in f])

In [39]:
df.shape

(52, 26)

In [42]:
df.groupby(['table_name','user_input_size']).count()

                            strat  rbbm_runtime  bbox_runtime  \
table_name user_input_size
amazon     20                   4             4             4
           40                   3             3             3
           80                   4             4             4
           160                  3             3             3
           320                  3             3             3
enron      20                   4             4             4
           40                   3             3             3
           80                   4             4             4
           160                  4             4             4
           320                  3             3             3
youtube    20                   4             4             4
           40                   3             3             3
           80                   4             4             4
           160                  3             3             3
           320                  3             3             3

                            avg_tree_size_increase  complaint_ratio  \
table_name user_input_size
amazon     20                                    4                4
           40                                    3                3
           80                                    4                4
           160                                   3                3
           320                                   3                3
enron      20                                    4                4
           40                                    3                3
           80                                    4                4
           160                                   4                4
           320                                   3                3
youtube    20                                    4                4
           40                                    3                3
           80                                    4                4
           160                                   3                3
           320                                   3                3

                            num_complaints  num_confirmations  \
table_name user_input_size
amazon     20                            4                  4
           40                            3                  3
           80                            4                  4
           160                           3                  3
           320                           3                  3
enron      20                            4                  4
           40                            3                  3
           80                            4                  4
           160                           4                  4
           320                           3                  3
youtube    20                            4                  4
           40                            3                  3
           80                            4                  4
           160                           3                  3
           320                           3                  3

                            global_accuracy  fix_rate  confirm_preserve_rate  \
table_name user_input_size
amazon     20                             4         4                      4
           40                             3         3                      3
           80                             4         4                      4
           160                            3         3                      3
           320                            3         3                      3
enron      20                             4         4                      4
           40                             3         3                      3
           80                             4         4                      4
           160                            4         4                      4
           320                            3         3                      3
youtube    20                             4         4                      4
           40                             3         3                      3
           80                             4         4                      4
           160                            3         3                      3
           320                            3         3                      3

                            new_global_accuracy  prev_signaled_cnt  \
table_name user_input_size
amazon     20                                 4                  4
           40                                 3                  3
           80                                 4                  4
           160                                3                  3
           320                                3                  3
enron      20                                 4                  4
           40                                 3                  3
           80                                 4                  4
           160                                4                  4
           320                                3                  3
youtube    20                                 4                  4
           40                                 3                  3
           80                                 4                  4
           160                                3                  3
           320                                3                  3

                            new_signaled_cnt  num_functions  deletion_factor  \
table_name user_input_size
amazon     20                              4              4                4
           40                              3              3                3
           80                              4              4                4
           160                             3              3                3
           320                             3              3                3
enron      20                              4              4                4
           40                              3              3                3
           80                              4              4                4
           160                             4              4                4
           320                             3              3                3
youtube    20                              4              4                4
           40                              3              3                3
           80                              4              4                4
           160                             3              3                3
           320                             3              3                3

                            post_fix_num_funcs  \
table_name user_input_size
amazon     20                                4
           40                                3
           80                                4
           160                               3
           320                               3
enron      20                                4
           40                                3
           80                                4
           160                               4
           320                               3
youtube    20                                4
           40                                3
           80                                4
           160                               3
           320                               3

                            num_of_funcs_processed_by_algo  \
table_name user_input_size
amazon     20                                            4
           40                                            3
           80                                            4
           160                                           3
           320                                           3
enron      20                                            4
           40                                            3
           80                                            4
           160                                           4
           320                                           3
youtube    20                                            4
           40                                            3
           80                                            4
           160                                           3
           320                                           3

                            complaint_reached_max  confirm_reached_max  \
table_name user_input_size
amazon     20                                   4                    4
           40                                   3                    3
           80                                   4                    4
           160                                  3                    3
           320                                  3                    3
enron      20                                   4                    4
           40                                   3                    3
           80                                   4                    4
           160                                  4                    4
           320                                  3                    3
youtube    20                                   4                    4
           40                                   3                    3
           80                                   4                    4
           160                                  3                    3
           320                                  3                    3

                            lf_source  retrain_after_percent  \
table_name user_input_size
amazon     20                       4                      4
           40                       3                      3
           80                       4                      4
           160                      3                      3
           320                      3                      3
enron      20                       4                      4
           40                       3                      3
           80                       4                      4
           160                      4                      4
           320                      3                      3
youtube    20                       4                      4
           40                       3                      3
           80                       4                      4
           160                      3                      3
           320                      3                      3

                            retrain_accuracy_thresh  load_funcs_from_pickle  \
table_name user_input_size
amazon     20                                     4                       4
           40                                     3                       3
           80                                     4                       4
           160                                    3                       3
           320                                    3                       3
enron      20                                     4                       4
           40                                     3                       3
           80                                     4                       4
           160                                    4                       4
           320                                    3                       3
youtube    20                                     4                       4
           40                                     3                       3
           80                                     4                       4
           160                                    3                       3
           320                                    3                       3

                            pre_deletion_threshold
table_name user_input_size
amazon     20                                    4
           40                                    3
           80                                    4
           160                                   3
           320                                   3
enron      20                                    4
           40                                    3
           80                                    4
           160                                   4
           320                                   3
youtube    20                                    4
           40                                    3
           80                                    4
           160                                   3
           320                                   3

In [43]:
(SELECT AVG(array_length(regexp_split_to_array(content, E'\\s+'), 1)) 
AS average_length_in_words, 'amazon' as datas
from amazon)
union all 
(SELECT AVG(array_length(regexp_split_to_array(content, E'\\s+'), 1)) 
AS average_length_in_words, 'youtube' as datas
from youtube)
union all 
(SELECT AVG(array_length(regexp_split_to_array(content, E'\\s+'), 1)) 
AS average_length_in_words, 'enron' as datas
from enron)
union all
(SELECT AVG(array_length(regexp_split_to_array(content, E'\\s+'), 1)) 
AS average_length_in_words, 'amazon0.5' as datas
from amazon05)

SyntaxError: invalid syntax (3915355013.py, line 1)