In [63]:
import pandas as pd

In [64]:
ddws_df = pd.read_csv('ddws.csv')
# ddws_df_subset=ddws_df[ddws_df['_tid_']==24]

In [65]:
# ddws_df_subset

In [66]:
grouped = ddws_df.groupby('_tid_')

In [67]:
cols = list(ddws_df)

In [68]:
cols.remove('_tid_')
cols.remove('type')

In [69]:
for c in cols:
    print(c)

ProviderNumber
HospitalName
Address1
City
State
ZipCode
CountyName
PhoneNumber
HospitalType
HospitalOwner
EmergencyService
Condition
MeasureCode
MeasureName
Score
Sample
Stateavg
Address2
Address3

In [70]:
for name, group in grouped:
    if(not group[group['type']=='after_clean'][cols].reset_index(drop=True).equals(group[group['type']=='before_clean'][cols].reset_index(drop=True)) and \
       not group[group['type']=='after_clean'][cols].reset_index(drop=True).equals(group[group['type']=='ground_truth'][cols].reset_index(drop=True)) and \
       not group[group['type']=='before_clean'][cols].reset_index(drop=True).equals(group[group['type']=='ground_truth'][cols].reset_index(drop=True))):
        print('wow')

wow
wow
wow
wow
wow
wow
wow
wow
wow

In [71]:
for name, group in grouped:
    for c in cols:
        if(not group[group['type']=='after_clean'][c].reset_index(drop=True).equals(group[group['type']=='ground_truth'][c].reset_index(drop=True))):
            print('wow')
            print(group[['_tid_', 'type',c]])

wow
    _tid_          type EmergencyService
33   24.0  before_clean              yxs
34   24.0   after_clean              yxs
35   24.0  ground_truth              yes
wow
    _tid_          type MeasureCode
12  101.0   after_clean        hfx1
13  101.0  before_clean        hfx1
14  101.0  ground_truth        hf-1
wow
    _tid_          type         HospitalOwner
30  247.0  before_clean  governxent - federal
31  247.0   after_clean  governxent - federal
32  247.0  ground_truth  government - federal
wow
   _tid_          type State
3  386.0  before_clean    xl
4  386.0   after_clean    xl
5  386.0  ground_truth    al
wow
   _tid_          type      Condition
3  386.0  before_clean  hxart failurx
4  386.0   after_clean  hxart failurx
5  386.0  ground_truth  heart failure
wow
    _tid_          type           Address1
15  393.0  before_clean  124xsxmemorialxdr
16  393.0   after_clean  124xsxmemorialxdr
17  393.0  ground_truth  124 s memorial dr
wow
    _tid_          type                                        MeasureName
24  562.0   after_clean  allxheartxsurgeryxpatientsxwhosexbloodxsugarx(...
25  562.0  before_clean  allxheartxsurgeryxpatientsxwhosexbloodxsugarx(...
26  562.0  ground_truth  all heart surgery patients whose blood sugar (...
wow
    _tid_          type State
36  572.0   after_clean    ax
37  572.0  before_clean    ax
38  572.0  ground_truth    al
wow
    _tid_          type                 HospitalOwner
36  572.0   after_clean  voluntary non-profit - otxer
37  572.0  before_clean  voluntary non-profit - otxer
38  572.0  ground_truth  voluntary non-profit - other
wow
    _tid_          type                                        MeasureName
18  713.0  before_clean  surgery paxienxs needing hair removed from xhe...
19  713.0   after_clean  surgery paxienxs needing hair removed from xhe...
20  713.0  ground_truth  surgery patients needing hair removed from the...
wow
   _tid_          type MeasureCode
6  865.0   after_clean        px-4
7  865.0  before_clean        px-4
8  865.0  ground_truth        pn-4

In [72]:
for name, group in grouped:
    for c in cols:
        if(not group[group['type']=='after_clean'][c].reset_index(drop=True).equals(group[group['type']=='before_clean'][c].reset_index(drop=True))):
            print('wow')
            print(group[c])

wow
33    334793870x
34    3347938701
35    3347938701
Name: PhoneNumber, dtype: object
wow
0    2565x38310
1    2565938310
2    2565938310
Name: PhoneNumber, dtype: object
wow
12    3344933541
13    3344x33541
14    3344933541
Name: PhoneNumber, dtype: object
wow
30    xx46x66221
31    3346366221
32    3346366221
Name: PhoneNumber, dtype: object
wow
9     3346366221
10    334x3xx221
11    3346366221
Name: PhoneNumber, dtype: object
wow
3    25x47x7xx0
4    2514717110
5    2514717110
Name: PhoneNumber, dtype: object
wow
15    33x361x267
16    3343614267
17    3343614267
Name: PhoneNumber, dtype: object
wow
24    3342938000
25    3342938xxx
26    3342938000
Name: PhoneNumber, dtype: object
wow
36    3347561400
37    334x561400
38    3347561400
Name: PhoneNumber, dtype: object
wow
21    3348972257
22    33x8972257
23    3348972257
Name: PhoneNumber, dtype: object
wow
18    33x28365x1
19    3342836541
20    3342836541
Name: PhoneNumber, dtype: object
wow
6    2059216200
7    20x9216200
8    2059216200
Name: PhoneNumber, dtype: object
wow
27    2059325966
28    x0593x5966
29    2059325966
Name: PhoneNumber, dtype: object

In [73]:
for name, group in grouped:
    for c in cols:
        if(not group[group['type']=='after_clean'][c].reset_index(drop=True).equals(group[group['type']=='before_clean'][c].reset_index(drop=True)) and \
           not group[group['type']=='after_clean'][c].reset_index(drop=True).equals(group[group['type']=='ground_truth'][c].reset_index(drop=True)) and \
           not group[group['type']=='before_clean'][c].reset_index(drop=True).equals(group[group['type']=='ground_truth'][c].reset_index(drop=True))):
            print('wow')
            print(group[c])